#game {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
}

.red {
    background-color: #F47A93;
}

.green {
    background-color: #6C9A8B;
}

.blue {
    background-color: #4169E1;
}

.yellow {
    background-color: #FFDDA1;
}

@media only screen and (max-width: 980px) {
    #game {
        height: auto;
        width: auto;
    }
}