.app-header {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    -webkit-user-select: none;
    background-color: #7d7d7d;
    color: #ffffff;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 25% 40% 25%;
    height: auto;
    max-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    grid-column: 1;
}

.title {
    grid-column: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.help {
    grid-column: 3;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}